<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Plotinator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Plotinator.My.MySettings>
            <setting name="ChiaV1" serializeAs="String">
                <value />
            </setting>
            <setting name="ChiaV2" serializeAs="String">
                <value />
            </setting>
            <setting name="ChiaV3" serializeAs="String">
                <value />
            </setting>
            <setting name="ChiaV4" serializeAs="String">
                <value />
            </setting>
            <setting name="ChiaV5" serializeAs="String">
                <value />
            </setting>
            <setting name="ChiaV6" serializeAs="String">
                <value />
            </setting>
            <setting name="Temp1" serializeAs="String">
                <value />
            </setting>
            <setting name="Temp2" serializeAs="String">
                <value />
            </setting>
            <setting name="Temp3" serializeAs="String">
                <value />
            </setting>
            <setting name="Temp4" serializeAs="String">
                <value />
            </setting>
            <setting name="Temp5" serializeAs="String">
                <value />
            </setting>
            <setting name="Temp6" serializeAs="String">
                <value />
            </setting>
            <setting name="End1" serializeAs="String">
                <value />
            </setting>
            <setting name="End2" serializeAs="String">
                <value />
            </setting>
            <setting name="End3" serializeAs="String">
                <value />
            </setting>
            <setting name="End4" serializeAs="String">
                <value />
            </setting>
            <setting name="End5" serializeAs="String">
                <value />
            </setting>
            <setting name="End6" serializeAs="String">
                <value />
            </setting>
            <setting name="Ram1" serializeAs="String">
                <value />
            </setting>
            <setting name="Ram2" serializeAs="String">
                <value />
            </setting>
            <setting name="Ram3" serializeAs="String">
                <value />
            </setting>
            <setting name="Ram4" serializeAs="String">
                <value />
            </setting>
            <setting name="Ram5" serializeAs="String">
                <value />
            </setting>
            <setting name="Ram6" serializeAs="String">
                <value />
            </setting>
            <setting name="T1" serializeAs="String">
                <value />
            </setting>
            <setting name="T2" serializeAs="String">
                <value />
            </setting>
            <setting name="T3" serializeAs="String">
                <value />
            </setting>
            <setting name="T4" serializeAs="String">
                <value />
            </setting>
            <setting name="T5" serializeAs="String">
                <value />
            </setting>
            <setting name="T6" serializeAs="String">
                <value />
            </setting>
            <setting name="Plot1" serializeAs="String">
                <value />
            </setting>
            <setting name="Plot2" serializeAs="String">
                <value />
            </setting>
            <setting name="Plot3" serializeAs="String">
                <value />
            </setting>
            <setting name="Plot4" serializeAs="String">
                <value />
            </setting>
            <setting name="Plot5" serializeAs="String">
                <value />
            </setting>
            <setting name="Plot6" serializeAs="String">
                <value />
            </setting>
            <setting name="Neustart" serializeAs="String">
                <value />
            </setting>
            <setting name="Neustart1" serializeAs="String">
                <value />
            </setting>
            <setting name="Status" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
        </Plotinator.My.MySettings>
    </userSettings>
</configuration>